@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .gradient-block {
        @apply rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl dark:shadow-gray-700/25;
    }

    .gradient-text {
        @apply animate-text bg-gradient-to-r from-teal-500 via-purple-500 to-orange-500 bg-clip-text text-transparent;
    }

    /* Styles applied for main page */
    .falling-head {
        @apply text-slate-600 rounded-sm text-5xl pt-4 cursor-default shadow-lg
        transition duration-300
        group-hover:shadow-amber-500 group-hover:bg-amber-500 group-hover:text-zinc-800
    }

    .under-head {
        @apply p-2 rounded-lg text-stone-400
        hover:bg-zinc-200/30
        group-hover:text-zinc-500
    }

    /* Styles applied for markdown files */
    article > .progress-bar {
        @apply fixed left-0 right-0 top-0 h-1 bg-cyan-500/75;
        transform-origin: 0%;
    }

    .react-mark-down {
        @apply text-sm text-black dark:text-slate-50;
    }

    .react-mark-down h2 {
        @apply text-xl font-medium border-b-2 m-0 mb-2 p-0 border-amber-700/70;
    }

    .react-mark-down h3,
    h4 {
        @apply text-zinc-800 dark:text-zinc-200;
    }

    .react-mark-down strong {
        @apply font-bold text-zinc-800 dark:text-zinc-200 border-b-2 border-rose-400/50;
    }

    .react-mark-down ul li::marker {
        @apply dark:text-slate-500 !important;
    }

    .react-mark-down pre {
        @apply px-1 py-1 mx-0 my-3 bg-white dark:bg-slate-600 text-zinc-600 dark:text-zinc-300;
    }


    .react-mark-down pre > div {
        @apply py-1 px-1 mx-0 my-0 overflow-auto !important;
    }

    .react-mark-down p > code {
        @apply text-slate-800 dark:text-slate-200 rounded-md border-2 border-cyan-500 dark:border-cyan-800 p-0.5;
    }

    .react-mark-down ul {
        @apply list-disc list-inside
    }


    .react-mark-down pre > code {
        @apply text-cyan-700 overflow-hidden;
    }

    .react-mark-down blockquote {
        @apply text-indigo-500 dark:text-indigo-300;
    }

    .react-mark-down img {
        @apply max-w-xs md:max-w-sm lg:max-w-md mx-auto rounded-md drop-shadow-md;
    }

    .spacer {
        aspect-ratio: 1440/74;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
